.scene {
    height: 450vh;
}

.layer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    animation-timeline: scroll();
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-range: 0 400vh;
}

.layer:nth-child(1) { animation-name: animation-1; }
@keyframes animation-1 { to { scale: 1.25; } }

.layer:nth-child(2) { animation-name: animation-2; }
@keyframes animation-2 { to { scale: 1.275; } }

.layer:nth-child(3) { animation-name: animation-3; }
@keyframes animation-3 { to { scale: 1.5; } }

.layer:nth-child(4) { animation-name: animation-4; }
@keyframes animation-4 { to { scale: 2; } }

.layer:nth-child(5) { 
    opacity: 0;
    animation-range: 250vh 300vh;
    animation-name: animation-end;
}
@keyframes animation-end { to { opacity: 1; } }

.layer__content {
    padding: 4vh 4vw;
    background: none;
    backdrop-filter: blur(25px) brightness(.98);
    animation-timeline: scroll();
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-range: 0 100vh;
    animation-name: animation-head
}
@keyframes animation-head { to { opacity: 0; filter: blur(25px); } }

.layer__content h1 {
    text-transform: uppercase;
    font-size: calc(var(--index) * 2.5);
    text-align: center;
    line-height: .9em;
    letter-spacing: .15vw;
    font-family: ofont;
}

.layer__end {
    padding: 20px;
}

.layer__end::before {
    content: '';
    position: absolute;
    opacity: 0;
    inset: 0;
    background-color: #01122b;
    animation-timeline: scroll();
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-range: 200vh 400vh;
    animation-name: animation-bg;
}
@keyframes animation-bg { to { opacity: 1; } }

.layer__board {
    position: relative;
}

.arrow_down {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 30px auto 40px auto;
}
.arrow_down:before,
.arrow_down:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 14px solid #fff;
    border-bottom: 14px solid #fff;
    animation: arrow-8 3s linear infinite;
}
.arrow_down:after {
    animation: arrow-8 3s linear infinite -1.5s;
}
@keyframes arrow-8 {
    0% {
        opacity: 0;
        transform: translate(0, -53px) rotate(-45deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;  
        transform: translate(0, 0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, 53px) rotate(-45deg);
    }
}